<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta http-equiv="x-limberjax" content="{{ version }}">
    <style type="text/css">
      html {
        margin: 0;
        padding: 0;
      }
      body {
        margin: 0;
        padding: 20px;
      }
      #positionedDiv {
        position: absolute;
        left: calc(100% + 10px);
        top: calc(100% + 10px);
        width: 10px;
        height: 10px;
      }
    </style>
		<script src="/jquery.js" defer></script>
		<script src="/limberjax.js" defer></script>
		<script src="/link-updater.js" defer></script>
	</head>
	<body>
    <div id="positionedDiv"></div>
		<nav>
			<p><label>Link: <input name="link" value=""></label></p>
			<p><label>Mode: <input name="mode" value=""></label></p>
			<p><label>Method: <input name="method" value="get"> <small>Forms only</small></label></p>
			<a href="/" id="main-link" data-limberjax-mode="" data-limberjax-container="">link</a>
			<a href="javascript:window.history.back()" id="back-link" data-ignore-limberjax>back</a>
			<a href="javascript:window.history.forward()" id="forward-link" data-ignore-limberjax>forward</a>
			<form method="get" action="/" accept-charset="UTF-8" enctype="multipart/form-data" >
				<fieldset>
					<p><label>Text <input name="text" type="text" value="foo"></label></p>
					<p><label>File <input name="file" type="file" multiple></label></p>
					<p><input type="submit" value="Submit"></p>
					<p><button type="submit">Submit</button></p>
				</fieldset>
			</form>
		</nav>
    <div id="x"></div>
    <div id="y"></div>

		<main id="layout-main">
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
